#pagetype.property-management{data: {sub_page: "listings"}}
  .admin-breadcrumbs
    Property Management
    %i.fa.fa-angle-right 
    = link_to "Listings", admin_listings_path
    %i.fa.fa-angle-right 
    = @listing.building.name
  .admin-divider-line

  .admin-title-wrapper
    .admin-page-title 
      %i.fa.fa-list
      Listings
  .admin-divider-line
  .admin-box-wrapper.full
    .admin-box
      .admin-show
        %table
          %thead
            %tr
              %th= "#{@listing.building.name + " | Unit " + @listing.unit}"
              %th
                = link_to edit_admin_listing_path(@listing), class: "crud-icon" do
                  %i.fa.fa-pencil
                  Edit

          %tbody
            %tr
              %td
                %p.cell-title Building Name
                %p.cell-info= @listing.building.name
              %td
                %p.cell-title Unit
                %p.cell-info= @listing.unit
            %tr
              %td
                %p.cell-title Bed(s)
                %p.cell-info= @listing.bed.to_i
              %td
                %p.cell-title Bath(s)
                %p.cell-info= @listing.bath.to_i
            %tr
              %td
                %p.cell-title Price
                %p.cell-info= number_to_currency @listing.total_monthly_price.to_i



